.accordion {
  width: 730px;
  font-family: Inter;
  letter-spacing: 0em;
}

.accordion__item {
  margin: 0 0 8px;
  padding: 24px 48px 33px 32px;
  border: 1px solid var(--grey-3);
  border-radius: 8px;
}

.accordion__item:not([open]) {
  padding-bottom: 21px;
}

.accordion__item:last-of-type {
  margin: 0;
}

.accordion__title {
  color: var(--black-strong);
  text-align: left;
  line-height: 24px;
  font-weight: 400;
  list-style: none;
}

.accordion details[open] .accordion__title {
  color: var(--black);
}

.accordion__title::-webkit-details-marker,
.accordion__title::marker{ 
  display: none; 
  font-size: 0;
}

.accordion__content {
  margin: 16px 0 0;
  text-align: left;
  line-height: 18px;
  font-size: 16px;
  font-weight: 400;
  color: var(--grey-4);
}
