@import '../fonts/fonts.css';
@import './normalize.css';
@import '../../components/page/page.css';
@import '../../components/header/header.css';
@import '../../components/footer/footer.css';
@import '../../components/preview/preview.css';
@import '../../components/logo/logo.css';
@import '../../components/container/container.css';
@import '../../components/card/card.css';
@import '../../components/histogram/histogram.css';
@import '../../components/tooltip/tooltip.css';
@import '../../components/calendar/calendar.css';
@import '../../components/avatar/avatar.css';

:root {
    --border-gray-2: 1px solid var(--grey-2);
    --white: #ffffff;
    --black: #212429;
    --black-strong: #000000;
    --pink: #F784AD;
    --purple: #7048E8;
    --dark-purple: #5028C6;
    --light-blue: #A0B1F5;
    --blue: #4263EB;
    --dark-blue: #2342C0;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-5: #334D6E;
    --grey-6: #90A0B7;

    --preview: #F9FAFC;

    --base-radius: 8px;
    --card-radius: 8px;

    --base-shadow: 0px 2px 4px 0px rgba(33, 36, 41, 0.05);

    --error: var(--red);
    --success: var(--blue);

    --primary-bg: var(--blue);
    --primary-bg-hover: var(--dark-blue);

    --secondary-bg: var(--purple);
    --secondary-bg-hover: var(--dark-purple);

    --alternate-color: var(--grey-4);
    --alternate-bg: var(--white);
    --alternate-bg-hover: var(--white);
    --alternate-border: var(--grey-3);
    --alternate-border-hover: var(--black);
}

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
