.radio {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

.radio__input {
    position: absolute;
    outline: none;
    clip: rect(0, 0, 0, 0);
}
.radio__state {
    display: flex;
    align-items: center;
    gap: 12px;
}

.radio__control {
    background: var(--white);
    border: 2px solid var(--grey-2);
    border-radius: 50%;
    box-sizing: border-box;
    height: 28px;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio__icon {
    display: none;
    width: 18px;
    height: 18px;
    color: var(--white);
    background: var(--primary-bg);
    border-radius: 50%;
}

.radio__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4)
}

.radio__input:disabled ~ .radio__state 
.radio__control {
    background: var(--grey-2);
    border-color: var(--grey-2);    
}

.radio__input:disabled ~ .radio__state 
.radio__title {
    color: var(--grey-2);
}

.radio__input:checked ~ .radio__state 
.radio__control {
    border-color: var(--primary-bg);    
}

.radio__input:checked ~ .radio__state 
.radio__icon {
    display: block;
}

.radio__input:focus ~ .radio__state 
.radio__title {
    text-decoration: underline;
}