.footer {
    display: none;
    padding: 72px 0;
    background-color: #fff;
    color: var(--black);
}

.footer__title {
    margin: 0 0 32px;
    font: 500 38px / 48px Inter, sans-serif;
    letter-spacing: 0em;
    text-align: center;
}

.footer__text {
    margin: 0 auto;
    max-width: 640px;
    font: 400 16px / 24px Inter, sans-serif;
    letter-spacing: 0em;
    text-align: center;
}

@media (min-width: 480px) {
    .footer {
        display: block;
    }
}