.checkbox {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

.checkbox__input {
    position: absolute;
    outline: none;
    clip: rect(0, 0, 0, 0);
}
.checkbox__state {
    display: flex;
    align-items: center;
    gap: 12px;
}

.checkbox__control {
    background: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 4px;
    box-sizing: border-box;
    height: 28px;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox__icon {
    display: none;
    width: 15px;
    height: 12px;
    color: var(--white);
}

.checkbox__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4)
}

.checkbox__input:disabled ~ .checkbox__state 
.checkbox__control {
    background: var(--grey-2);
    border-color: var(--grey-2);    
}

.checkbox__input:disabled ~ .checkbox__state 
.checkbox__title {
    color: var(--grey-2);
}

.checkbox__input:checked ~ .checkbox__state 
.checkbox__control {
    background: var(--primary-bg);
    border-color: var(--primary-bg);    
}

.checkbox__input:checked ~ .checkbox__state 
.checkbox__icon {
    display: block;
}

.checkbox__input:focus ~ .checkbox__state 
.checkbox__title {
    text-decoration: underline;
}
